/* Header.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #004d4d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  font-size: 18px;
  font-weight: 200;
  color: #333;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 15px;

}

.icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;

}

.search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;

}

.translator {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;

}

.cta-button {
  background-color: #004d4d;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-text {
  color: #fff;
  font-weight: bold;
}