frontend/node_modules/.cache/default-development/0.pack filter=lfs diff=lfs merge=lfs -text
Devops/terraform/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.32.0/darwin_amd64/terraform-provider-kubernetes_v2.32.0_x5 filter=lfs diff=lfs merge=lfs -text
backend filter=lfs diff=lfs merge=lfs -text
Backend/**/*.bin filter=lfs diff=lfs merge=lfs -text
AtonixCorpApp filter=lfs diff=lfs merge=lfs -text
Devops filter=lfs diff=lfs merge=lfs -text
frontend/**/*.bin filter=lfs diff=lfs merge=lfs -text
bitbucket-pipelines.yml filter=lfs diff=lfs merge=lfs -text
netlify.toml filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/*.pack filter=lfs diff=lfs merge=lfs -text
Backend/myenv/lib/python3.12/site-packages/numpy/.dylibs/libscipy_openblas64_.dylib filter=lfs diff=lfs merge=lfs -text
Backend/myenv/lib/python3.12/site-packages/pyarrow/libarrow.1700.dylib filter=lfs diff=lfs merge=lfs -text
Backend/myenv/lib/python3.12/site-packages/pyspark/jars/rocksdbjni-8.3.2.jar filter=lfs diff=lfs merge=lfs -text
Backend/myenv/lib/python3.12/site-packages/scipy/.dylibs/libscipy_openblas.dylib filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
Projectplan/Doc/README.md filter=lfs diff=lfs merge=lfs -text
Projectplan/Doc/Vision/README.md filter=lfs diff=lfs merge=lfs -text
doc/README.md filter=lfs diff=lfs merge=lfs -text
Workshop/AtonixCorpWebApp/node_modules/.cache/default-development/*.pack filter=lfs diff=lfs merge=lfs -text
k8s/terraform/.terraform/providers/registry.terraform.io/cloudposse/utils/1.24.0/darwin_amd64/terraform-provider-utils filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/*.pack filter=lfs diff=lfs merge=lfs -text
qiskit_env/lib/python3.12/site-packages/symengine/lib/symengine_wrapper.cpython-312-darwin.so filter=lfs diff=lfs merge=lfs -text
qiskit_env/lib/python3.12/site-packages/numpy/.dylibs/libscipy_openblas64_.dylib filter=lfs diff=lfs merge=lfs -text
qiskit_env/lib/python3.12/site-packages/scipy/.dylibs/libscipy_openblas.dylib filter=lfs diff=lfs merge=lfs -text
