
# Machine Learning and Quantum Computing
torch
opencv-python
channels-redis
qiskit
qiskit-nature
qiskit-ibm-runtime
qiskit-runtime
qiskit-ibm-catalog
qiskit-aer
qutip
pyscf

# Web Development
flask
flask-jwt-extended
flask-cors
flask-restful
gunicorn
openapi-spec-validator
openapi-core

# Robotics and Hardware Integration
platformio
rosdep
rospkg
roslibpy

# Cryptography and Security
cryptography
pycryptodome
paramiko

# Data Analysis and Visualization
numpy
pandas
matplotlib
seaborn
scipy
statsmodels
jupyter

# Machine Learning
scikit-learn
xgboost
