/* App.css */

.main-container {
  display: flex;
  padding-top: 20px; /* Add some padding to avoid overlap with the Herosection */
}

.sidebar {
  width: 20%; /* Adjusted width for sidebar */
  background-color: #0d9494;
  color: white;
  height: 70vh; /* Calculate height to be 70% of the viewport height */
  overflow-y: auto; /* Make the sidebar scrollable */
  padding: 20px;
  position: sticky;
  top: 30%; /* Adjust top to be 30% below the top */
}

.content {
  width: 80%; /* Adjusted width for main content */
  margin-left: 20%;
  padding: 20px;
  background-color: #f8f9fa;
}
