psycopg2-binary
gunicorn
djangorestframework-jsonapi
daphne
channels
django-redis
celery
redis
numpy
pandas
matplotlib
seaborn
scipy
statsmodels
jupyter
notebook
scikit-image
scikit-learn
tensorflow
keras
torch
xgboost
qiskit
qutip
boto3
google-cloud-storage
azure-storage-blob
paramiko
requests
flask
flask-jwt-extended
flask-cors
flask-restful
Werkzeug
Jinja2
click
openapi-spec-validator
openapi-core
cryptography
pycryptodome
platformio
rosdep
rospkg
roslibpy
pymed
qiskit-nature
qiskit-ibm-catalog
qiskit-aer
pyscf
azure-iot-device
biopython
sqlalchemy
Babel
kaggle
flask_sqlalchemy