psycopg2-binary
gunicorn
djangorestframework-jsonapi
daphne
channels
django-redis
celery
redis
qiskit
qutip
requests
flask
flask-jwt-extended
flask-cors
flask-restful
Werkzeug
Jinja2
click
openapi-spec-validator
openapi-core
cryptography
pycryptodome
qiskit-nature
qiskit-ibm-catalog
qiskit-aer
sqlalchemy
Babel
flask_sqlalchemy
sendgrid

