# Django and Django REST Framework
django>=3.2,<4.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-allauth
django-rest-auth
django-environ
django-debug-toolbar  # Debugging
django-extensions  # Additional management commands
psycopg2-binary  # PostgreSQL database adapter
gunicorn  # WSGI HTTP server
djangorestframework-jsonapi

# Load Balancing and Performance
daphne  # ASGI HTTP server for asynchronous Django
channels  # Django Channels for handling WebSockets and background tasks

# Caching
django-redis  # Redis cache backend for Django

# Task Queues
celery  # Asynchronous task queue
redis  # Redis message broker for Celery
dj-database-url
# Data Science and Computational Libraries
numpy  # Numerical operations
pandas  # Data manipulation and analysis
matplotlib  # Data visualization
scipy  # Scientific computing
jupyter  # Interactive computing and notebooks
scikit-learn  # Machine learning
torch  # Deep learning and neural networks

# Security
cryptography  # Encryption and security
pycryptodome  # Cryptographic library
paramiko  # SSH connections
