# Django and Django REST Framework
django>=4.2.17
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-allauth
django-rest-auth
django-environ
# Debugging
django-debug-toolbar

# Additional management commands
django-extensions

# PostgreSQL database adapter
psycopg2-binary

# WSGI HTTP server
gunicorn

# New dependencies for the rest of your installed apps
djangorestframework-jsonapi

