# Cryptography Libraries
cryptography
pycryptodome

# Machine Learning and AI Libraries
tensorflow
keras
scikit-learn
torch
xgboost

# Data Science Libraries
numpy
pandas
matplotlib
seaborn
scipy
statsmodels
jupyter
scipy
scikit-image

# Django and Django REST Framework
djangorestframework-simplejwt
djangorestframework
django-cors-headers

#computational libraries
qiskit
qutip
